[submodule "themes/tokiwa"]
	path = themes/tokiwa
    url = https://github.com/heyeshuang/hugo-theme-tokiwa.git

[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/lite"]
	path = themes/lite
	url = https://github.com/phyiction/hugo-lite.git
